In [8]:
#Import Dependencies
import pandas as pd

In [9]:
#create path to csv file
csv_path = "Resources/purchase_data.csv"

#import csv file as data frame
heros_raw_df = pd.read_csv(csv_path)
heros_raw_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

        Player Count

>Total Number of Players

In [10]:
#player count: Total number of players
player_count = [len((heros_raw_df["SN"]).unique())]
player_count

#create dataframe output
Total_Players = pd.DataFrame({"Total Players":player_count})
Total_Players

   Total Players
0            576

    Purchasing Analysis (Total)

>Number of Unique Items
>Average Purchase Price
>Total Number of Purchases
>Total Revenue

In [11]:
#purchase analysis(total)
#Number of unique items

Unique_Items = [len((heros_raw_df["Item Name"]).unique())]
Unique_Items

#Total Revenue
total_purchases = [sum(heros_raw_df["Price"])]


#Total Number of Purchases
Purchase_count = [len(heros_raw_df["Price"])]


#Average Purchase Price
Ave_PPrice = [sum(heros_raw_df["Price"])/len(heros_raw_df["Price"])]

#create dataframe for output
Purchase_Analysis = pd.DataFrame({
                                "Num Unique Items": Unique_Items,
                                "Average Price": Ave_PPrice,
                                "Number of Purchases": Purchase_count,
                                "Total Revenue": total_purchases})
Purchase_Analysis['Average Price'] = Purchase_Analysis['Average Price'].map("${0:,.2f}".format)
Purchase_Analysis['Total Revenue'] = Purchase_Analysis['Total Revenue'].map("${0:,.2f}".format)
Purchase_Analysis

   Num Unique Items Average Price  Number of Purchases Total Revenue
0               179         $3.05                  780     $2,379.77

         Gender Demographics

>Percentage and Count of Male Players

>Percentage and Count of Female Players

>Percentage and Count of Other / Non-Disclosed

In [12]:
#Group by gender and unique user names
SN_Group = heros_raw_df.groupby(["Gender"])["SN"].unique()

#count unique SN who are male
Male_SN = len(SN_Group['Male'])
Male_SN

#count unique SN who are female
Female_SN = len(SN_Group['Female'])
Female_SN

#count unique SN who are Other / Non-Disclosed
Other_SN = len(SN_Group['Other / Non-Disclosed'])
Other_SN

Total_UN = Male_SN + Female_SN + Other_SN

Pct_Female = (Female_SN/Total_UN)*100
Pct_Male = (Male_SN/Total_UN)*100
Pct_Other = (Other_SN/Total_UN)*100

#Create dataframe of output
Demo_group = heros_raw_df.groupby(["Gender"]).count()
Demo_group["Total Count"] = [Male_SN,Female_SN,Other_SN]
Demo_group["Percentage of Players"] = [Pct_Male,Pct_Female,Pct_Other]

Demo_group['Percentage of Players'] = Demo_group['Percentage of Players'].map("{0:,.2f}%".format)

Demo_group[["Total Count","Percentage of Players"]].head()

                       Total Count Percentage of Players
Gender
Female                         484                84.03%
Male                            81                14.06%
Other / Non-Disclosed           11                 1.91%

        Purchasing Analysis (Gender)

The below each broken by gender

>Purchase Count

>Average Purchase Price

>Total Purchase Value

>Average Purchase Total per Person by Gender

In [13]:
#Gender Demographics
#group dataframe by gender
Hero_Gender_group = heros_raw_df.groupby(["Gender"]).count()


#Percentage and Count of Male Players
male = heros_raw_df["Gender"].value_counts()['Male']


#Percentage and Count of Female Players
female = heros_raw_df["Gender"].value_counts()['Female']


#Percentage and Count of Other / Non-Disclosed
other = heros_raw_df["Gender"].value_counts()['Other / Non-Disclosed']

#add purchase count column
Hero_Gender_group["Purchase Count"] = [female, male, other]

#average purchase price per gender
Ave_Price = heros_raw_df.groupby(['Gender']).agg({'Price': ['mean']})
Hero_Gender_group["Average Purchase Price"] = Ave_Price

#Total Purchase Value
Tot_Purchase = heros_raw_df.groupby(['Gender']).agg({'Price': ['sum']})
Hero_Gender_group["Total Purchase Value"] = Tot_Purchase

Hero_Gender_group['Average Purchase Price'] = Hero_Gender_group['Average Purchase Price'].map("${0:,.2f}".format)
Hero_Gender_group['Total Purchase Value'] = Hero_Gender_group['Total Purchase Value'].map("${0:,.2f}".format)

Hero_Gender_group[['Purchase Count','Average Purchase Price','Total Purchase Value']]

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,$3.20,$361.94
Male,652,$3.02,"$1,967.64"
Other / Non-Disclosed,15,$3.35,$50.19

#  Age Demographics
 
Establish bins for ages


Categorize the existing players using the age bins. Hint: use pd.cut()


Calculate the numbers and percentages by age group


Create a summary data frame to hold the results


Optional: round the percentage column to two decimal points


Display Age Demographics Table

In [133]:
#Drop duplicate users from original database
Age_Demo_UniqueSN = heros_raw_df.drop_duplicates(subset=["SN"])

#create bins for ages
Age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]

#labels for each of the bins
Age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#group by age
Age_df = Age_Demo_UniqueSN.groupby(pd.cut(Age_Demo_UniqueSN['Age'], Age_bins, labels=Age_labels)).count()

#copy data frame to manipulate columns
Age_df2 = Age_df[["Purchase ID"]].copy()

#sum of the values in the df
Total_IDs  = Age_df2.sum()

#Percentage Players by group
Pct_Total = (Age_df2.divide(Total_IDs))*100

#add percentage players to dataframe
Age_df2["Percentage of Players"] = Pct_Total
Age_df2

#rename purchase ID column to total count
Age_df2.rename(columns={"Purchase ID": "Total Count"})

#format % players
Age_df2['Percentage of Players'] = Age_df2['Percentage of Players'].map("{0:,.2f}%".format)
Age_df2

       Purchase ID Percentage of Players
Age
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [98]:
Age_df3 = [heros_raw_df.groupby(pd.cut(heros_raw_df['Age'], Age_bins, labels=Age_labels)).sum()]
Age_df3
# # Age_df = heros_raw_df["SN"].loc[heros_raw_df["Gender"] == "Male"].count()
# Age_df.dtypes
# Age_df_count = heros_raw_df.groupby(pd.cut(heros_raw_df['Purchase ID'], Age_bins, labels=Age_labels)).count()
# Age_df_count
# Age_df["Ave Purchase Price"] = Age_df["Price"].sum()
# Age_df
# Sum_Price = sum(Age_d()"Price")

# Age_df = heros_raw_df.groupby(['Gender']).sum()

[       Purchase ID   Age  Item ID    Price
 Age
 <10          10009   181     2428    77.13
 10-14        10114   319     2719    82.78
 15-19        54859  2284    12798   412.89
 20-24       139573  7971    32335  1114.06
 25-29        41072  2626     9128   293.00
 30-34        26254  2291     6866   214.00
 35-39        16596  1505     4137   147.67
 40+           5333   540     1158    38.24]